@font-face{
    font-family: "RobotoSlab";
    src: url('RobotoSlab-Light.ttf') format('truetype');
}

* {
    font-family: "RobotoSlab";
}

html, body, #container{
    margin:0;
    width: 180px;
    height: 150px;
    background-color:#fff;
}

#ikon{
    margin-right:5px;
}

#header{
    display:flex;
    background-color:black;
    padding:5px;
    align-items: center;
    justify-content: start;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
}

#uio, #gamlifiser{
    font-family: "RobotoSlab";
    color:white;
    display:inline-block;
    margin:0;
    font-size:16px;
}

#gamlifiser{
    margin-left:10px;
}

#dots{
    transform:scale(0.4);
}

#uio{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left:2px !important;
}

#uioKnapp{
    position:absolute;
    top:70px !important;
    transform: scale(0.80);
    left:-50px;
}

.buttonArea{
    display:flex;
    align-items:center;
    height:62px;
    flex-direction:row;
}

#gamlifiser{
    display:inline-block;
}

#footer{
    padding:0;
    margin:0;
    justify-content: center;
    padding-right:5px;
    padding-bottom:10px;
}

label {
    margin: 1.5em auto;
}

input {
    position: absolute;
    left: -9999px;
}

h1, h2, h3, h4, h5{
    padding:0;
    margin:0;
}

.slider {
    position: absolute;
    width: 5.5em;
    top:px;
    margin:0;
    left:200px;
    height: 3em;
    cursor: pointer;
    border-radius: 1.5em;
    transition: 70ms linear;
    background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #ddd;
    box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, .4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, .7);
}

.slider::after {
    position: absolute;
    content: '';
    width: 2em;
    height: 2em;
    top: 0.5em;
    left: 0.5em;
    border-radius: 50%;
    transition: 70ms linear;
    background: linear-gradient(#f5f5f5 10%, #eee);
    box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, .9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, .5);
}

.slider::before {
    position: absolute;
    content: '';
    width: 4em;
    height: 1.5em;
    top: 0.75em;
    left: 0.75em;
    border-radius: 0.75em;
    transition: 70ms linear;
    background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
    box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, .5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, .7), 0 0 0 0 rgba(68, 204, 102, .7) inset;
}

 input:checked + .slider::before {
    box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, .5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, .7), 3em 0 0 0 rgba(68, 204, 102, .7) inset;
}

 input:checked + .slider::after {
    left: 3em;
}

#issueNotice{
    display:none;
}

#footer, #gamlifiserKnappTekst{
    margin-left:10px;
}